@tailwind base;
@tailwind components;
@tailwind utilities;

/* 스크롤바 숨기기 (선택 사항 - 고급스러운 느낌을 위해) */
body::-webkit-scrollbar {
  display: none;
}
body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}